{% extends "layout.html" %}
{% block title %}Youtube Download{% endblock %}
{% block content %}
    <style>
        h1 {
            color: black;
            text-align: center;
            padding-top: 85px;
            font-size: 400%;
        }
        form {
            text-align: center;
            padding-top: 100px;
        }
        body{
            background-color:rgb(161, 15, 15);
          }
    </style>
    <h1>Youtube Downloader</h1>
    <form method="POST">
        <input type="text"  placeholder="Enter the link" name='url'>
        <button type="submit">Convert</button>
    </form>
{% endblock %}